.navigationBar{ list-style-type:none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:lightpink;
position: fixed;
top: 0;
width: 100%;
font-family:'Comic Sans MS';}

.navigationBar ul{list-style: none;
margin: 0 ;
padding: 0;
overflow: hidden;
background-color:lightpink;
position: fixed;
top: 0;
width: 100%;}

.navigationBar li{
    float: left;}

.navigationBar li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
text-decoration: underline;}

.navigationBar li a:hover:not(.active){
        background-color:lightpink;}

.active{
    background-color:rgb(217, 164, 248);
    margin:auto;}
body{
    background-color: lightpink;
}

h1, h2, h3, h4 {
    font-family:'Comic Sans MS';
    text-align: center;
}
 .blogs-grid{
     display: grid;
     grid-template-columns: 50% 50%;
 }

 .blog-image{
     border-radius: 5px;
     box-shadow: 0 4px 6px 0 rgba(143, 11, 121, 0.425);
 }
