  






.navigationBar{ list-style-type:none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:lightpink;
position: fixed;
top: 0;
width: 100%;
font-family:'Comic Sans MS';}

.navigationBar ul{list-style: none;
margin: 0 ;
padding: 0;
overflow: hidden;
background-color:lightpink;
position: fixed;
top: 0;
width: 100%;}

.navigationBar li{
    float: right;}

.navigationBar li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
text-decoration: underline;}


.navigationBar li a:hover:not(.active){
    background-color:lightpink;
    cursor: pointer;}

.active{
    background-color:rgb(217, 164, 248);
    margin:auto;}
body{
    background-color: lightpink;
}

h1, h2, h3, h4 {
    font-family:'Comic Sans MS';
    text-align: center;
}
 .blogs-grid{
     display: grid;
     grid-template-columns: 50% 50%;
     transition: all .1s linear;
     grid-column: span 1;
     grid-row: span 1;

    border-bottom: 3px transparent;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
     margin-top: 50;
     margin-right: 50;
 }

 .blog-image{
      justify-self: center;
      padding: 4%;
     border-radius: 5px;
     box-shadow: 0 4px 6px 0 rgba(143, 11, 121, 0.425);
     margin-left: 60px;
     margin-right: 80px;
     align-items: center;
 }
 .blog-image-title{
     justify-self: center;
     padding: 4%;
     position: relative;
 }
 .blog-image-title:hover> h2{
     visibility: visible;
 }
 .blog-image-title>h2{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color:green;
     visibility: hidden;
     z-index: 2;
     transition: all ease-in-out .2s;

 }
 ol{
    font-family: sans-serif;
 }
 ul{
    font-family: sans-serif;
 }
 p{
     font-family:'Comic Sans MS';
     text-align: justify;
     padding:  14px 16px;
     border-radius: 10px;
     box-shadow: rgba(143, 11, 121, 0.425);
     margin: 50px 50px;
 }
 .contact{
    position:relative;
    background-color: rgba(211, 148, 195, 0.548);
    width: 100%;
    left:0;
    bottom:0;
    padding :0px 15px;
 }
 .content-block-left{
    font-family:'Comic Sans MS';
    text-align: center;
    padding: 14px 16px ;
 }
 .graphsets{
     text-align: center;
 }